
<% if current_user.is_employee %>
        <div class="col-sm-9" contenteditable="false" style="">
            <div class="panel panel-default">
                <div class="panel-heading">Insert Cards</div>
                <div class="panel-body">
                	<%= form_for :card, method: 'post',:url => {:controller =>'cards', :action => 'create' }  do |f|%>
                        <div class="form-group">
                            <label for="value"> cards value</label><br />
                            <div class="input-group">
                                <select  data-placeholder="card-value" class="form-control" id = "value" name = "value" required= true>
                                    <% Type.all.each do |t| %>
                                        <option value="<%= t.value %>"><%= t.value %></option>
                                    <%end%>                                  
                                </select>
                               <!-- <input type="text" name="value" id="value" class="form-control">-->
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span><br />
                            </div>
                            <label for="cards">Insert cards numbers</label><br />
                            <div class="input-group">
                                <textarea name="cards" id="cards" class="form-control" rows="10" required= true></textarea>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            </div>
                        </div>
                        <%= submit_tag "Submit", name: "submit", id: "submit" , class: "btn btn-info pull-right", data: { disable_with: "Please wait..." } %>
                    <% end %>
                </div>
            </div>
        </div>
<% else %>
        <div class="col-sm-9" contenteditable="false" style="">
            <div class="panel panel-default">
                <div class="panel-heading">Take Cards</div>
                <div class="panel-body">
                    <%= form_for :card, method: 'post',:url => {:controller =>'cards', :action => 'create' }  do |f|%>
                        <div class="form-group">
                            <div class="input-group">
                                <select  data-placeholder="status" class="form-control" id = "value" name = "value" required= true>
                                    <% Type.all.each do |t| %>
                                        <option value="<%= t.id %>"><%= t.value %></option>
                                    <%end%>                                  
                                </select>
                               <!-- <input type="text" name="value" id="value" class="form-control">-->
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span><br />
                            </div>
                            <br />
                            <div class="input-group">
                                <input type="number" name="number" id="number" class="form-control" placeHolder = "Number of cards">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span><br />
                            </div>
                            <h1></h1>
                            <%= submit_tag "Submit", name: "submit", id: "submit" , class: "btn btn-info pull-right", data: { disable_with: "Please wait..." } %>
                       </div>
                    <% end %>
                </div>
            </div>
        </div>
<% end %>