<div class="wrapper">
  <div class = "form-signin" >
    <%= form_for(@user, url: user_path, method: :patch) do |f| %>
      <h2 class="form-signin-heading">Update info</h2><br />
      <div class="field">
       	<%= f.label :first_name %><br />
        <%= f.text_field :first_name, class: "form-control", value: current_user.first_name %>
      </div><br />
       <div class="field">
       	<%= f.label :last_name %><br />
        <%= f.text_field :last_name, class: "form-control", value: current_user.last_name %>
      </div><br />
      
      <div class="field">
       	<%= f.label :phone_number %><br />
        <%= f.text_field :phone_number, class: "form-control", value: current_user.phone_number %>
      </div><br />
      <div class="actions">
        <%= f.submit "submit", class: "btn btn-lg btn-primary btn-block" %>
      </div>
    <% end %>
    <br />
    <%= link_to "edit password", edit_password_path(current_user), class: "btn btn-lg btn-primary btn-block" %> 
  </div>
</div>